.tech-stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tech-icon {
  height: 35px;
  margin: 10px 10px 10px 10px;
}

.main-project-container {
  width: 70%;
  padding-right: 100px;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
}
.border-bottom {
  border-bottom: 1px solid #ffffff;
}
.top-margin {
  margin-top: 5%;
}
.axios-icon {
  height: 23px !important;
}

@media screen and (max-width: 1000px) {
  .tech-stack {
    display: table-cell;
    width: 50%;
  }
  .tech-icon {
    height: 30px;
    margin: 10px;
  }
  .main-project-container {
    padding-right: 0px;
  }
}

@media screen and (max-width: 800px) {
  .tech-stack {
    display: table-cell;
    width: 50%;
  }
  .tech-icon {
    height: 25px;
    margin: 10px;
  }
  .main-project-container {
    padding-right: 0px;
  }
}

@media screen and (max-width: 700px) {
  .tech-stack {
    display: table-cell;
    width: 90%;
  }
  .tech-icon {
    height: 25px;
    margin: 10px;
  }
  .main-project-container {
    padding-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  .tech-stack {
    display: table-cell;
    width: 90%;
  }
  .main-project-container {
    padding-right: 0px;
  }
}
